@font-face { font-family: PoppinsLight; src: url("../font/FontsFree-Net-Poppins-Light.ttf"); } 

.App{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: hidden;
}

.App a{
  text-decoration: none;
  color: white;
}

span, p, label, input{
  font-family: 'PoppinsLight';
}

#box{
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-device-width: 768px){
  .App{
    flex-direction: column;
  }

  #box{
    width: 100%;
  }
}
 